@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.form-input {
    border-radius: 5px;
    border: none;
    border: 1px solid rgb(0,0,0,0.5);
    display: block;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    outline: none;   
    padding: 8px;
    width: 100%;
}

.form-input:focus {
    border-color: #09f;
}

/*
    Posts in src/components/
*/

.Posts-container {
    margin: 10px;
}

.Posts-container_post {
    background-color: var(--light-gray);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.Posts-container_post__profile {
    display: flex;
}

.Posts-container_post__profile div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Posts-container_post__profile___img {
    border-radius: 50%;
    height: 30px;
    margin-right: 10px;
    object-fit: cover;
    width: 30px;
}

.Posts-container_post__profile___username {
    font-size: 15px;
}

.Posts-container_post__profile___date {
    font-size: 10px;
    color: rgb(190,190,190);
    display: block;
    width: 100%;
}

.Posts-container_post__text {
    margin-top: 5px;
    font-size: 15px;
    width: 100%;
    display: block;
}

.Posts-container_post__buttons button {
    margin-top: 10px;
    border: none;
    outline: none;
    color: #000;
    background-color: transparent;
}

.Posts-container_post__buttons button:hover {
    cursor: pointer;
    color: var(--like-color)
}

.Posts-container_post__buttons i {
    font-size: 20px;;
}


/*
    SetProfileInfo in src/components/
*/

.SetProfileInfo-container {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
    padding: 10px;
    border-radius: 5px;
}

.SetProfileInfo-container_img {
    border-radius: 50%;
    height: 80px;
    object-fit: cover;
    width: 80px;
    margin-right: 20px;
}

.SetProfileInfo-container_box__text {
    margin-bottom: 10px;
}

.SetProfileInfo-container_box__button {
    padding: 6px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #0d6efd;
    color: #fff;
}

/*
    Navbar in src/components/
*/

.Navbar-container {
    align-items: center;
    background-color: #0d6efd;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.Navbar-container_img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.Navbar-container_img:hover {
    cursor: pointer;
    opacity: .8;
}

.Navbar-container_brand {
    padding: 5px
}

/* 
    LoginPage in src/auth/pages/ 
*/

.LoginPage-container {
    align-items: center;
    background-color: rgb(193, 226, 249);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    padding: 25px;
    width: 100vw;
}

.LoginPage-container_box {
    background-color: #09f;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.LoginPage-container_box__text {
    color: #fff;
    text-align: center;
    font-weight: 500;
}

.LoginPage-container_form {
    background-color: var(--login-form-color);
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
    padding: 15px;
    width: 100%;
}

.LoginPage-container_form__title {
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.LoginPage-container_form__button {
    background-color: var(--light-blue);
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 8px;
    width: 100%;
    transition: opacity .3s;
}

.LoginPage-container_form__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.LoginPage-container_form__redirect {
    background-color: var(--login-redirect-color);
    border-radius: 5px;
    color: #fff;
    display: block;
    margin-top: 10px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    transition: opacity .3s;
}

.LoginPage-container_form__redirect:hover {
    opacity: 0.8;
}

/* 
    LoadingPage in src/pages/ 
*/

.LoadingPage-container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.LoadingPage-container i {
    animation: spin 1.5s ease infinite;
    color: #09f;
    font-size: 45px;
}

/* ANIMACIONES */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 0.3s ease;
}

.fadeIn-lg {
    animation: fadeIn 1s ease;
}

/* VARIABLES */

:root {

    --light-gray: rgb(230, 230, 230);
    --light-blue: #0d6efd;
    --login-background-color: rgb(193, 226, 249);
    --login-form-color: rgb(113, 170, 210);
    --login-redirect-color: rgb(231, 122, 124);
    --like-color: #FA383E;
}

/* MEDIA QUERYS */

@media (min-width: 800px) {
    .LoginPage-container {
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }

    .LoginPage-container_box {
        width: 25%;
    }

    .LoginPage-container_form {
        margin: 0;
        width: 25%
    }
}


